/node_modules
/discord_bot/node_modules
/discord_bot_api/node_modules

.env
.env.local
.env.development.local
.env.test.local
.env.production.local
/discord_bot/.env
/discord_bot_api/.env

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

.vscode/
.vs
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.roo/


.DS_Store
Thumbs.db
.trash/
/RP/Modules/Mysql/db.conf
