<server>
    <script src="Init.nut" type="server"/>

    <script src="Tick.nut" type="server"/>
    <script src="Json.nut" type="server"/>
    <script src="Notification.nut" type="server"/>
    <script src="Commands.nut" type="server"/>
    <script src="TextLib.nut" type="server"/>
    <script src="GameTimeEvent.nut" type="server"/>
    <script src="WorldDraws.nut" type="server"/>
</server>