<server>
    <script src="Init.nut" type="server"/>

    <script src="Tick.nut" type="server"/>
    <script src="Json.nut" type="server"/>
    <script src="Notification.nut" type="server"/>
    <script src="GameTimeEvent.nut" type="server"/>
    <!--<script src="Worlddraws.nut" type="server"/>-->
	<script src="Logs.nut" type="server"/>
	<!-- Старая система авторизации отключена - используется Discord авторизация -->
	<!--<script src="Auth/auth.nut" type="server"/>-->
	<script src="Auth/discord_auth.nut" type="server"/>
</server>